input {
    syslog {
        type => sl4fj
        port => '5000' 
    }
    
    tcp {
        type => "curator"
        port => "28778"
    }
}     

filter {
    if [type] == "curator" {
        grok {
            match => {
                "message" => "%{TIMESTAMP_ISO8601:timestamp} %{WORD:level}%{SPACE}%{WORD:function}:%{POSINT:line}%{SPACE}%{GREEDYDATA:description}"
            }
         }
    }
  
    if [type] == "slf4j" {
        json {
            source => 'message'
        }
    }
}

output { 
   elasticsearch { 
        host        => localhost
        protocol    => http 
    } 
}
